.spec-section {
    margin: 30px 0 50px;
    padding: 40px 0;
    background-color: rgba(247, 240, 236, 1);
    .spec-section__container-wrap {
        max-width: 950px;
        margin: 0 auto;
        border: 1px solid rgba(77, 77, 77, 1);
        .spec-section__container {
            margin: 10px;
            padding: 20px;
            background-color: white;
            .spec-section__heading {
                padding-bottom: 20px;
                text-align: center;
                font-size: 46px;
            }
            .spec-section__img-wrap {
                display: flex;
                justify-content: space-between;
                .spec-section__img {
                    width: 11%;
                }
            }
        }
    }
}