* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.header .header__logo-wrap {
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto;
}
.header .header__logo-wrap img {
  width: 70%;
  margin: 0 auto;
  display: block;
}
.header .header__nav {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  gap: 0 100px;
}
.header .header__nav .header__list .header__link {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.slider {
  height: 650px;
  background-color: antiquewhite;
  position: relative;
}
.slider .slider-info-wrap {
  width: 45%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
}
.slider .slider-info-wrap .slider-info {
  margin: 8px;
  padding: 20px 60px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}
.slider .slider-info-wrap .slider-info span {
  display: block;
  padding: 10px 0;
  line-height: 1.8;
  letter-spacing: 0.1em;
}
.slider .slider-info-wrap .slider-info .slider-info__heading {
  font-size: 26px;
  line-height: 1.2;
  color: rgb(243, 214, 214);
  padding: 20px 0;
}
.slider .slider-info-wrap .slider-info .slider-info__description {
  line-height: 1.8;
}
.slider .slider-info-wrap .slider-info a {
  width: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  padding: 10px 30px;
  background-color: rgb(243, 214, 214);
  color: white;
  text-transform: uppercase;
}

.artist-wrap .artist {
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.artist-wrap .artist .artist__photo {
  width: 500px;
}
.artist-wrap .artist .artist__about {
  width: 45%;
  position: absolute;
  top: 15%;
  left: 50%;
  border: 1px solid black;
  padding: 20px 40px;
  background-color: white;
}
.artist-wrap .artist .artist__about h3 {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 10px 0 30px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.1em;
}
.artist-wrap .artist .artist__about h3 .artist__name {
  line-height: 1.2;
  letter-spacing: 0em;
  font-size: 26px;
}
.artist-wrap .artist .artist__about p {
  line-height: 1.2;
  font-size: 25px;
}
.artist-wrap .artist .artist__about .artist__description--mod {
  display: block;
  padding: 30px 0 40px;
  line-height: 1.4;
  font-size: 15px;
}
.artist-wrap .artist .artist__about .artist__link {
  width: 80%;
  position: absolute;
  bottom: -18px;
  left: 10%;
  margin: 0 auto;
  padding: 5px 0;
  display: block;
  text-align: center;
  background-color: rgb(243, 214, 214);
  color: white;
  font-size: 14px;
  line-height: 1.8;
}

.our-work-wrap {
  position: relative;
  padding-bottom: 400px;
}
.our-work-wrap .our-team-heading {
  width: 100%;
  padding: 74px 0;
  background-color: rgb(247, 240, 236);
  font-size: 46px;
  text-align: center;
}
.our-work-wrap .our-work {
  width: 50%;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 0 30px;
}
.our-work-wrap .our-work .our-work__block {
  border: 1px solid black;
  background-color: white;
}
.our-work-wrap .our-work .our-work__block .our-work__container {
  position: relative;
  margin: 10px;
}
.our-work-wrap .our-work .our-work__block .our-work__container .our-work__img {
  width: 270px;
  height: 380px;
}
.our-work-wrap .our-work .our-work__block .our-work__container .our-work__img:hover {
  opacity: 0.5;
  transition: all 0.3s;
}
.our-work-wrap .our-work .our-work__block .our-work__container .our-work__link {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 40px;
  left: 0;
  padding: 5px 0;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(247, 240, 236);
}

.arrow-slider {
  background: url("../images/11.jpg");
  padding: 50px 0;
}
.arrow-slider .slider-block {
  width: 50%;
  margin: 0 auto;
  padding: 60px 40px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.75);
}
.arrow-slider .slider-block .circle-img {
  width: 85px;
  height: 85px;
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
}
.arrow-slider .slider-block .svg-wrap {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
}
.arrow-slider .slider-block .svg-wrap svg {
  width: 30px;
}
.arrow-slider .slider-block .arrow-slider-heading {
  text-align: center;
}
.arrow-slider .slider-block .slider-block-text {
  padding: 20px 0 60px;
}
.arrow-slider .slider-block .arrow {
  position: absolute;
  top: 50%;
  background: none;
}
.arrow-slider .slider-block .left-arrow {
  left: -40px;
  transform: rotate(180deg);
}
.arrow-slider .slider-block .right-arrow {
  right: -40px;
}
.arrow-slider .arrow-slider-link {
  width: 50%;
  margin: 30px auto 0;
  padding: 5px 0;
  display: block;
  background-color: rgb(243, 214, 214);
  text-align: center;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.intro-info {
  position: relative;
  padding-bottom: 470px;
}
.intro-info .intro-info-heading {
  padding: 60px 0;
  text-align: center;
  font-size: 46px;
  background-color: rgb(247, 240, 236);
}
.intro-info .intro-info__bg {
  width: 2000px;
  height: 400px;
  position: absolute;
  top: -20px;
  left: -40px;
  transform: rotate(-6deg);
  z-index: -1;
  background-color: rgb(247, 240, 236);
}
.intro-info .intro-info__container {
  width: 50%;
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 0 30px;
}
.intro-info .intro-info__container .intro-info__item {
  width: calc(100% - 30px)/3;
  position: relative;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
}
.intro-info .intro-info__container .intro-info__item .intro-info__img {
  width: 270px;
  height: 270px;
  display: block;
}
.intro-info .intro-info__container .intro-info__item .intro-info__link {
  display: block;
  padding: 50px 0;
  line-height: 1.2;
  letter-spacing: 0em;
  font-size: 26px;
}
.intro-info .intro-info__container .intro-info__item .intro-info__link--position {
  width: 93%;
  display: block;
  padding: 5px 0;
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(243, 214, 214);
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 1.8;
  letter-spacing: 0.1em;
  font-size: 14px;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */